<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone Github Practice</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div id="github"></div>

	<!-- User Template -->
	<script id="user-template" type="text/template">
		<img class="user-img" src="<%= avatar_url %>" alt="<%= login %>">
	</script>

	<!-- JavaScript Resources -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script src="app.js"></script>
</body>
</html>