<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone Foursquare Example</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div id="foursquare"></div>

	<!-- Foursquare Single Place Template -->
	<script id="place-template" type="text/template">
		<h1><%= venue.name %></h1>
		<img src="<%= venue.photos.groups[0].items[0].prefix + '180x180' + venue.photos.groups[0].items[0].suffix %>" title="<%= venue.name %>" alt="<%= venue.name %>">
	</script>

	<!-- JavaScript Resources -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="config.js"></script>
	<script src="app.js"></script>
	
</body>
</html>
